.home 
    .h1
    {

    display: block;
    border: 1px solid black;
    

  }
  .h3
  {
    font-style: normal;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    vertical-align: text-top;

  }
